In [158]:
# Dependencies
import pandas as pd
from datetime import datetime

In [10]:
# Reading csv file
wildfire_data = pd.read_csv("./data_resource/california_wildfire_data_cleaned.csv")

In [12]:
# Sample data from the csv file
wildfire_data.head(5)

,Unnamed: 0,Incident Name,County,Administrative Unit,Acres Burned,Crews Involved,Dozers,Engines,Fatalities,Helicopters,...,Personnel Involved,Structures Damaged,Structures Destroyed,Structures Threatened,Water Tenders,Fire Started,Fire Extinguished,Longitude,Latitude,Incident ID
0,0,River Fire,Inyo,CAL FIRE San Bernardino Unit,407.0,25.0,25.0,25.0,0.0,0.0,...,476.0,0.0,0.0,0.0,25.0,2013-02-24T08:16:00Z,2013-02-28T20:00:00Z,-118.016510,36.602575,094719ba-a47b-4abb-9ec5-a506b2b9fd23
1,1,Fawnskin Fire,San Bernardino,San Bernardino National Forest,30.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2013-04-20T17:30:00Z,2013-04-22T09:00:00Z,-116.941311,34.288877,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f
2,2,Gold Fire,Madera,CAL FIRE Madera-Mariposa-Merced Unit,274.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2013-04-30T12:59:00Z,2013-05-01T07:00:00Z,-119.635004,37.116295,357ffc13-bef9-48eb-810f-c5de851972eb
3,3,Silverado Fire,Napa,CAL FIRE Sonoma-Lake-Napa Unit,75.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2013-04-30T23:44:00Z,2013-05-01T17:15:00Z,-122.350844,38.441792,d8d1c943-7b5d-4885-9043-f41075d6eded
4,4,Yellow Fire,Sonoma,CAL FIRE Sonoma-Lake-Napa Unit,125.0,9.0,5.0,17.0,0.0,5.0,...,249.0,0.0,0.0,0.0,5.0,2013-05-01T02:01:00Z,2013-05-03T06:15:00Z,-122.655616,38.638828,64e4f81e-d872-44c4-ba8d-111fa77124ba

In [27]:
# Checking for the datatype of column "Fire Started"
wildfire_data["Fire Started"]

0       2013-02-24T08:16:00Z
1       2013-04-20T17:30:00Z
2       2013-04-30T12:59:00Z
3       2013-04-30T23:44:00Z
4       2013-05-01T02:01:00Z
                ...
2774    2025-01-23T09:41:57Z
2775    2025-01-23T13:58:00Z
2776    2025-01-23T14:42:58Z
2777    2025-01-23T16:40:30Z
2778    2025-01-29T12:53:53Z
Name: Fire Started, Length: 2779, dtype: object

In [31]:
# Converting the column to datetime format
wildfire_data["Fire Started"] = pd.to_datetime(wildfire_data["Fire Started"])
wildfire_data["Fire Started"]

0      2013-02-24 08:16:00+00:00
1      2013-04-20 17:30:00+00:00
2      2013-04-30 12:59:00+00:00
3      2013-04-30 23:44:00+00:00
4      2013-05-01 02:01:00+00:00
                  ...
2774   2025-01-23 09:41:57+00:00
2775   2025-01-23 13:58:00+00:00
2776   2025-01-23 14:42:58+00:00
2777   2025-01-23 16:40:30+00:00
2778   2025-01-29 12:53:53+00:00
Name: Fire Started, Length: 2779, dtype: datetime64[ns, UTC]

In [33]:
# checking for the datatype of column "Fire Extinguished"
wildfire_data["Fire Extinguished"]

0            2013-02-28T20:00:00Z
1            2013-04-22T09:00:00Z
2            2013-05-01T07:00:00Z
3            2013-05-01T17:15:00Z
4            2013-05-03T06:15:00Z
                  ...
2774         2025-01-26T18:13:08Z
2775    2025-02-20 10:24:04+00:00
2776         2025-01-24T00:00:00Z
2777         2025-01-24T00:00:00Z
2778         2025-01-29T06:30:00Z
Name: Fire Extinguished, Length: 2779, dtype: object

In [140]:
# Converting the column to datetime format and checking for errors
wildfire_data["Fire Extinguished"] = pd.to_datetime(wildfire_data["Fire Extinguished"], errors='coerce')
wildfire_data["Fire Extinguished"]

0      2013-02-28 20:00:00+00:00
1      2013-04-22 09:00:00+00:00
2      2013-05-01 07:00:00+00:00
3      2013-05-01 17:15:00+00:00
4      2013-05-03 06:15:00+00:00
                  ...
2773   2025-01-24 00:00:00+00:00
2774   2025-01-26 18:13:08+00:00
2776   2025-01-24 00:00:00+00:00
2777   2025-01-24 00:00:00+00:00
2778   2025-01-29 06:30:00+00:00
Name: Fire Extinguished, Length: 2183, dtype: datetime64[ns, UTC]

In [142]:
# Droping rows with Not a Time value
wildfire_data.dropna(subset = ["Fire Extinguished"], inplace = True)
wildfire_data["Fire Extinguished"]

0      2013-02-28 20:00:00+00:00
1      2013-04-22 09:00:00+00:00
2      2013-05-01 07:00:00+00:00
3      2013-05-01 17:15:00+00:00
4      2013-05-03 06:15:00+00:00
                  ...
2773   2025-01-24 00:00:00+00:00
2774   2025-01-26 18:13:08+00:00
2776   2025-01-24 00:00:00+00:00
2777   2025-01-24 00:00:00+00:00
2778   2025-01-29 06:30:00+00:00
Name: Fire Extinguished, Length: 2183, dtype: datetime64[ns, UTC]

In [47]:
# Collecting years from Fire Started column and creating a new column to store the details
wildfire_data["Fire Started year"] = pd.DatetimeIndex(wildfire_data["Fire Started"]).year
wildfire_data.head(5)

,Unnamed: 0,Incident Name,County,Administrative Unit,Acres Burned,Crews Involved,Dozers,Engines,Fatalities,Helicopters,...,Structures Damaged,Structures Destroyed,Structures Threatened,Water Tenders,Fire Started,Fire Extinguished,Longitude,Latitude,Incident ID,Fire Started year
0,0,River Fire,Inyo,CAL FIRE San Bernardino Unit,407.0,25.0,25.0,25.0,0.0,0.0,...,0.0,0.0,0.0,25.0,2013-02-24 08:16:00+00:00,2013-02-28 20:00:00+00:00,-118.016510,36.602575,094719ba-a47b-4abb-9ec5-a506b2b9fd23,2013
1,1,Fawnskin Fire,San Bernardino,San Bernardino National Forest,30.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2013-04-20 17:30:00+00:00,2013-04-22 09:00:00+00:00,-116.941311,34.288877,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,2013
2,2,Gold Fire,Madera,CAL FIRE Madera-Mariposa-Merced Unit,274.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2013-04-30 12:59:00+00:00,2013-05-01 07:00:00+00:00,-119.635004,37.116295,357ffc13-bef9-48eb-810f-c5de851972eb,2013
3,3,Silverado Fire,Napa,CAL FIRE Sonoma-Lake-Napa Unit,75.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2013-04-30 23:44:00+00:00,2013-05-01 17:15:00+00:00,-122.350844,38.441792,d8d1c943-7b5d-4885-9043-f41075d6eded,2013
4,4,Yellow Fire,Sonoma,CAL FIRE Sonoma-Lake-Napa Unit,125.0,9.0,5.0,17.0,0.0,5.0,...,0.0,0.0,0.0,5.0,2013-05-01 02:01:00+00:00,2013-05-03 06:15:00+00:00,-122.655616,38.638828,64e4f81e-d872-44c4-ba8d-111fa77124ba,2013

In [49]:
# Collecting years from Fire Extinguished column and creating a new column to store the details
wildfire_data["Fire Extinguished year"] = pd.DatetimeIndex(wildfire_data["Fire Extinguished"]).year
wildfire_data.head(5)

,Unnamed: 0,Incident Name,County,Administrative Unit,Acres Burned,Crews Involved,Dozers,Engines,Fatalities,Helicopters,...,Structures Destroyed,Structures Threatened,Water Tenders,Fire Started,Fire Extinguished,Longitude,Latitude,Incident ID,Fire Started year,Fire Extinguished year
0,0,River Fire,Inyo,CAL FIRE San Bernardino Unit,407.0,25.0,25.0,25.0,0.0,0.0,...,0.0,0.0,25.0,2013-02-24 08:16:00+00:00,2013-02-28 20:00:00+00:00,-118.016510,36.602575,094719ba-a47b-4abb-9ec5-a506b2b9fd23,2013,2013
1,1,Fawnskin Fire,San Bernardino,San Bernardino National Forest,30.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2013-04-20 17:30:00+00:00,2013-04-22 09:00:00+00:00,-116.941311,34.288877,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,2013,2013
2,2,Gold Fire,Madera,CAL FIRE Madera-Mariposa-Merced Unit,274.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2013-04-30 12:59:00+00:00,2013-05-01 07:00:00+00:00,-119.635004,37.116295,357ffc13-bef9-48eb-810f-c5de851972eb,2013,2013
3,3,Silverado Fire,Napa,CAL FIRE Sonoma-Lake-Napa Unit,75.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2013-04-30 23:44:00+00:00,2013-05-01 17:15:00+00:00,-122.350844,38.441792,d8d1c943-7b5d-4885-9043-f41075d6eded,2013,2013
4,4,Yellow Fire,Sonoma,CAL FIRE Sonoma-Lake-Napa Unit,125.0,9.0,5.0,17.0,0.0,5.0,...,0.0,0.0,5.0,2013-05-01 02:01:00+00:00,2013-05-03 06:15:00+00:00,-122.655616,38.638828,64e4f81e-d872-44c4-ba8d-111fa77124ba,2013,2013

In [196]:
# Finding the dataset rows with different starting and ending year

# Creating an empty list to store the results
different_years = []
same_years = []

for i in range(len(wildfire_data)):
    if wildfire_data.iloc[i]["Fire Started year"] != wildfire_data.iloc[i]["Fire Extinguished year"]:
        different_years.append(wildfire_data.iloc[i])

    elif wildfire_data.iloc[i]["Fire Started year"] == wildfire_data.iloc[i]["Fire Extinguished year"]:
        same_years.append(wildfire_data.iloc[i])

# Creating DataFrames from the lists
different_years_df = pd.DataFrame(different_years)    # if the data falls in different years
same_years_df = pd.DataFrame(same_years)        # if the data falls in same year
same_years_df

,Unnamed: 0,Incident Name,County,Administrative Unit,Acres Burned,Crews Involved,Dozers,Engines,Fatalities,Helicopters,...,Structures Destroyed,Structures Threatened,Water Tenders,Fire Started,Fire Extinguished,Longitude,Latitude,Incident ID,Fire Started year,Fire Extinguished year
0,0,River Fire,Inyo,CAL FIRE San Bernardino Unit,407.0,25.0,25.0,25.0,0.0,0.0,...,0.0,0.0,25.0,2013-02-24 08:16:00+00:00,2013-02-28 20:00:00+00:00,-118.016510,36.602575,094719ba-a47b-4abb-9ec5-a506b2b9fd23,2013,2013
1,1,Fawnskin Fire,San Bernardino,San Bernardino National Forest,30.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2013-04-20 17:30:00+00:00,2013-04-22 09:00:00+00:00,-116.941311,34.288877,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,2013,2013
2,2,Gold Fire,Madera,CAL FIRE Madera-Mariposa-Merced Unit,274.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2013-04-30 12:59:00+00:00,2013-05-01 07:00:00+00:00,-119.635004,37.116295,357ffc13-bef9-48eb-810f-c5de851972eb,2013,2013
3,3,Silverado Fire,Napa,CAL FIRE Sonoma-Lake-Napa Unit,75.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2013-04-30 23:44:00+00:00,2013-05-01 17:15:00+00:00,-122.350844,38.441792,d8d1c943-7b5d-4885-9043-f41075d6eded,2013,2013
4,4,Yellow Fire,Sonoma,CAL FIRE Sonoma-Lake-Napa Unit,125.0,9.0,5.0,17.0,0.0,5.0,...,0.0,0.0,5.0,2013-05-01 02:01:00+00:00,2013-05-03 06:15:00+00:00,-122.655616,38.638828,64e4f81e-d872-44c4-ba8d-111fa77124ba,2013,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2773,2773,Sepulveda Fire,Los Angeles,LA City Fire Department,45.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2025-01-23 00:36:20+00:00,2025-01-24 00:00:00+00:00,-118.475410,34.096800,0434262e-c6ca-4232-a2b4-ad0f5589b036,2025,2025
2774,2774,Laguna Fire,Ventura,Ventura County Fire Department,83.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2025-01-23 09:41:57+00:00,2025-01-26 18:13:08+00:00,-119.059000,34.165500,d45df9b2-8dc5-4d88-864b-f3a842c8a2fc,2025,2025
2776,2776,Gilman Fire,San Diego,San Diego City Fire,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2025-01-23 14:42:58+00:00,2025-01-24 00:00:00+00:00,-117.237000,32.862200,22ec23e5-b380-4ee4-942f-26c12a4576d7,2025,2025
2777,2777,Gibbel Fire,Riverside,CAL FIRE Riverside Unit,15.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2025-01-23 16:40:30+00:00,2025-01-24 00:00:00+00:00,-116.964339,33.708601,a79b51d3-9ae7-4ec3-a8ca-9f733b89df9a,2025,2025
2778,2778,Rosa Fire,San Luis Obispo,CAL FIRE San Luis Obispo Unit,105.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2025-01-29 12:53:53+00:00,2025-01-29 06:30:00+00:00,-119.982524,35.303682,460e65e4-366e-46d1-8729-7d1756fca41a,2025,2025

## Calculations based on the same_years_df

In [126]:
# Calculating total acres burned per year
acres_burned_per_year = same_years_df.groupby("Fire Started year")["Acres Burned"].sum().reset_index()
acres_burned_per_year.columns = ["Year", "Total Acres Burned"]
acres_burned_per_year

    Year  Total Acres Burned
0   2013            497485.0
1   2014            296982.0
2   2015            414202.0
3   2016            447627.0
4   2018            382987.0
5   2019            200634.0
6   2020           2453791.0
7   2021           2289096.0
8   2022            128256.0
9   2023            318989.0
10  2024            211066.0
11  2025              2682.0

In [138]:
# Calculating total counties burned per year
counties_burned_per_year = same_years_df.groupby("Fire Started year")["County"].nunique().reset_index()
counties_burned_per_year.columns = ["Year","Number of Counties Burned"]
counties_burned_per_year

    Year  Number of Counties Burned
0   2013                         48
1   2014                         31
2   2015                         41
3   2016                         48
4   2018                          2
5   2019                         53
6   2020                         60
7   2021                         52
8   2022                         35
9   2023                         31
10  2024                         49
11  2025                          7

In [132]:
# Calculating total personnel involved per year
personnel_involved_per_year = same_years_df.groupby("Fire Started year")["Personnel Involved"].sum().reset_index()
personnel_involved_per_year.columns = ["Year","Personnel Involved"]
personnel_involved_per_year

    Year  Personnel Involved
0   2013             17170.0
1   2014              4249.0
2   2015              4509.0
3   2016              4231.0
4   2018              1521.0
5   2019              5657.0
6   2020                 0.0
7   2021                 0.0
8   2022                 0.0
9   2023                 0.0
10  2024                 0.0
11  2025                 0.0

In [134]:
# Calculating total Structures Damaged per year
structures_damaged_per_year = same_years_df.groupby("Fire Started year")["Structures Damaged"].sum().reset_index()
structures_damaged_per_year.columns = ["Year","Structures Damaged"]
structures_damaged_per_year

    Year  Structures Damaged
0   2013                28.0
1   2014                10.0
2   2015                15.0
3   2016                45.0
4   2018                61.0
5   2019               159.0
6   2020                 0.0
7   2021                 0.0
8   2022                 0.0
9   2023                 0.0
10  2024                 0.0
11  2025                 0.0

In [136]:
# Calculating total Structures Destroyed per year
structures_destroyed_per_year = same_years_df.groupby("Fire Started year")["Structures Destroyed"].sum().reset_index()
structures_destroyed_per_year.columns = ["Year","Structures Destroyed"]
structures_destroyed_per_year

    Year  Structures Destroyed
0   2013                 418.0
1   2014                 534.0
2   2015                 244.0
3   2016                 741.0
4   2018               20418.0
5   2019                 433.0
6   2020                   0.0
7   2021                   0.0
8   2022                   0.0
9   2023                   0.0
10  2024                   0.0
11  2025                   0.0

## Calculations based on different_years_df

In [170]:
# Create a list to hold the number of active days until year end
active_days_until_year_end = []

different_years_df["Fire Started"] = different_years_df["Fire Started"].dt.tz_localize(None)

for i in range(len(different_years_df)):

    start_date = different_years_df.iloc[i]["Fire Started"]
    
    year_end = datetime(start_date.year,12,31)

    active_days = (year_end - start_date).days + 1 
    active_days_until_year_end.append(active_days)

different_years_df["Active Days Until Year End"] = active_days_until_year_end
different_years_df["Remaining Days from the begining"] = different_years_df["days_of_wildfire"] - active_days_until_year_end

different_years_df

,Unnamed: 0,Incident Name,County,Administrative Unit,Acres Burned,Crews Involved,Dozers,Engines,Fatalities,Helicopters,...,Fire Started,Fire Extinguished,Longitude,Latitude,Incident ID,Fire Started year,Fire Extinguished year,days_of_wildfire,Active Days Until Year End,Remaining Days from the begining
463,463,Loma Fire,Santa Clara,CAL FIRE Santa Clara Unit,4474.0,1.0,1.0,3.0,0.0,0.0,...,2016-09-26 14:42:00,2017-09-19 10:30:00+00:00,-121.853180,37.106320,2dfac408-d2ab-4ff9-94aa-91be9d07bb59,2016,2017,357,96,261
471,471,Oroville Spillway,Butte,Unified Command,0.0,0.0,0.0,0.0,0.0,0.0,...,2017-02-07 14:00:00,2018-01-09 09:24:00+00:00,-121.556330,39.511580,afb8c00c-ef91-4544-90ce-54722be124af,2017,2018,335,327,8
472,472,West Fire,Modoc,CAL FIRE Lassen-Modoc Unit,380.0,0.0,0.0,0.0,0.0,0.0,...,2017-04-03 16:00:00,2018-01-09 09:40:00+00:00,-120.583420,41.167160,31b0e75c-b0e2-4796-b8a7-efc49e4c59a5,2017,2018,280,272,8
473,473,Grace Fire,Shasta,CAL FIRE Shasta-Trintiy Unit,45.0,0.0,0.0,0.0,0.0,0.0,...,2017-04-03 16:00:00,2018-01-09 09:41:00+00:00,-121.856450,40.487120,95960fa6-58ba-4b4e-aeb2-ada97d699908,2017,2018,280,272,8
474,474,66 Fire,Riverside,CAL FIRE Riverside Unit,15.0,0.0,0.0,0.0,0.0,0.0,...,2017-04-13 02:30:00,2018-01-09 09:50:00+00:00,-116.080030,33.567770,b12ae71e-c6c8-4eab-9aab-d17d1879a639,2017,2018,271,262,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,1202,Honey Flooding,Butte,CAL FIRE Butte Unit,0.0,0.0,0.0,0.0,0.0,0.0,...,2018-11-29 23:30:00,2019-01-04 08:42:00+00:00,-121.773850,39.712170,e6b8af54-15fb-42bb-8be9-f323c9d5cc78,2018,2019,35,32,3
1914,1914,Lost Lake Fire,Riverside,Colorado River Agency Bureau of Indian Affairs,5856.0,0.0,0.0,0.0,0.0,0.0,...,2022-05-26 21:31:18,2023-06-04 09:29:01+00:00,-114.484173,34.010838,e0d1fd77-071f-4892-9738-49baba9658f3,2022,2023,373,219,154
1925,1925,Sheep Fire,San Bernardino,Angeles National Forest,865.0,0.0,0.0,0.0,0.0,0.0,...,2022-06-12 06:45:19,2023-06-22 09:29:24+00:00,-117.615080,34.355593,d0c68cde-731a-4409-a810-32c7d326ce54,2022,2023,375,202,173
1936,1936,Tesla Fire,Alameda,CAL FIRE Santa Clara Unit,552.0,0.0,0.0,0.0,0.0,0.0,...,2022-06-23 17:39:00,2023-06-23 09:26:19+00:00,-121.556086,37.365652,769b01fc-2018-420a-92b2-5e2ccb296894,2022,2023,364,191,173
1953,1953,Washburn Fire,Mariposa,Yosemite National Park,4886.0,0.0,0.0,0.0,0.0,0.0,...,2022-07-07 14:13:08,2023-08-03 09:29:42+00:00,-119.614000,37.499000,776de6ba-3e3c-4388-b257-44e8c9231a95,2022,2023,391,177,214

In [176]:

# Calculating acres burned per day
different_years_df["acres burned per day"] = different_years_df["Acres Burned"] / different_years_df["days_of_wildfire"]

# Calculating acres burned in the fire started year
different_years_df["acres burned start year"] = different_years_df["acres burned per day"] * different_years_df["Active Days Until Year End"]

different_years_df["acres burned end year"] = different_years_df["Acres Burned"] - different_years_df["acres burned start year"]

different_years_df

,Unnamed: 0,Incident Name,County,Administrative Unit,Acres Burned,Crews Involved,Dozers,Engines,Fatalities,Helicopters,...,Latitude,Incident ID,Fire Started year,Fire Extinguished year,days_of_wildfire,Active Days Until Year End,Remaining Days from the begining,acres burned per day,acres burned start year,acres burned end year
463,463,Loma Fire,Santa Clara,CAL FIRE Santa Clara Unit,4474.0,1.0,1.0,3.0,0.0,0.0,...,37.106320,2dfac408-d2ab-4ff9-94aa-91be9d07bb59,2016,2017,357,96,261,12.532213,1203.092437,3270.907563
471,471,Oroville Spillway,Butte,Unified Command,0.0,0.0,0.0,0.0,0.0,0.0,...,39.511580,afb8c00c-ef91-4544-90ce-54722be124af,2017,2018,335,327,8,0.000000,0.000000,0.000000
472,472,West Fire,Modoc,CAL FIRE Lassen-Modoc Unit,380.0,0.0,0.0,0.0,0.0,0.0,...,41.167160,31b0e75c-b0e2-4796-b8a7-efc49e4c59a5,2017,2018,280,272,8,1.357143,369.142857,10.857143
473,473,Grace Fire,Shasta,CAL FIRE Shasta-Trintiy Unit,45.0,0.0,0.0,0.0,0.0,0.0,...,40.487120,95960fa6-58ba-4b4e-aeb2-ada97d699908,2017,2018,280,272,8,0.160714,43.714286,1.285714
474,474,66 Fire,Riverside,CAL FIRE Riverside Unit,15.0,0.0,0.0,0.0,0.0,0.0,...,33.567770,b12ae71e-c6c8-4eab-9aab-d17d1879a639,2017,2018,271,262,9,0.055351,14.501845,0.498155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,1202,Honey Flooding,Butte,CAL FIRE Butte Unit,0.0,0.0,0.0,0.0,0.0,0.0,...,39.712170,e6b8af54-15fb-42bb-8be9-f323c9d5cc78,2018,2019,35,32,3,0.000000,0.000000,0.000000
1914,1914,Lost Lake Fire,Riverside,Colorado River Agency Bureau of Indian Affairs,5856.0,0.0,0.0,0.0,0.0,0.0,...,34.010838,e0d1fd77-071f-4892-9738-49baba9658f3,2022,2023,373,219,154,15.699732,3438.241287,2417.758713
1925,1925,Sheep Fire,San Bernardino,Angeles National Forest,865.0,0.0,0.0,0.0,0.0,0.0,...,34.355593,d0c68cde-731a-4409-a810-32c7d326ce54,2022,2023,375,202,173,2.306667,465.946667,399.053333
1936,1936,Tesla Fire,Alameda,CAL FIRE Santa Clara Unit,552.0,0.0,0.0,0.0,0.0,0.0,...,37.365652,769b01fc-2018-420a-92b2-5e2ccb296894,2022,2023,364,191,173,1.516484,289.648352,262.351648
1953,1953,Washburn Fire,Mariposa,Yosemite National Park,4886.0,0.0,0.0,0.0,0.0,0.0,...,37.499000,776de6ba-3e3c-4388-b257-44e8c9231a95,2022,2023,391,177,214,12.496164,2211.820972,2674.179028

In [188]:
# Calculating start year data

start_year = different_years_df.groupby("Fire Started year")["acres burned start year"].sum().round(2).reset_index()
start_year.columns = ["Year","Acres Burned (Start Year)"]
start_year

   Year  Acres Burned (Start Year)
0  2016                    1203.09
1  2017                 1225305.66
2  2018                 1160119.14
3  2022                    6405.66

In [190]:
# Calculating end year data

end_year = different_years_df.groupby("Fire Extinguished year")["acres burned end year"].sum().round(2).reset_index()
end_year.columns = ["Year","Acres Burned (End Year)"]
end_year

   Year  Acres Burned (End Year)
0  2017                  3270.91
1  2018                224113.34
2  2019                 26406.86
3  2023                  5753.34

In [192]:
# Merging start year and end year data together

merged_years = pd.merge(start_year, end_year, how = "outer")
merged_years

   Year  Acres Burned (Start Year)  Acres Burned (End Year)
0  2016                    1203.09                      NaN
1  2017                 1225305.66                  3270.91
2  2018                 1160119.14                224113.34
3  2019                        NaN                 26406.86
4  2022                    6405.66                      NaN
5  2023                        NaN                  5753.34

In [302]:
# Merging the different years data with same year data

final_data = pd.merge(acres_burned_per_year, merged_years, how = "outer")
final_data.fillna(0, inplace = True)

final_data["Total"] = final_data["Total Acres Burned"] + final_data["Acres Burned (Start Year)"] + final_data["Acres Burned (End Year)"]

final_data

,Year,Total Acres Burned,Acres Burned (Start Year),Acres Burned (End Year),Total
0,2013,497485.0,0.00,0.00,497485.00
1,2014,296982.0,0.00,0.00,296982.00
2,2015,414202.0,0.00,0.00,414202.00
3,2016,447627.0,1203.09,0.00,448830.09
4,2017,0.0,1225305.66,3270.91,1228576.57
5,2018,382987.0,1160119.14,224113.34,1767219.48
6,2019,200634.0,0.00,26406.86,227040.86
7,2020,2453791.0,0.00,0.00,2453791.00
8,2021,2289096.0,0.00,0.00,2289096.00
9,2022,128256.0,6405.66,0.00,134661.66
10,2023,318989.0,0.00,5753.34,324742.34
11,2024,211066.0,0.00,0.00,211066.00
12,2025,2682.0,0.00,0.00,2682.00