In [323]:
import pandas as pd
import numpy as np

In [324]:
#read the CSV file from the Data source folder
df = pd.read_csv("Data source/California_Fire_incidents.csv")

In [377]:
#Display all the columns
pd.set_option('display.max_columns', None)

In [379]:
df.head(5)

,AcresBurned,ArchiveYear,Counties,CountyIds,CrewsInvolved,Dozers,Engines,Extinguished,Fatalities,Helicopters,Injuries,Latitude,Location,Longitude,Name,PersonnelInvolved,Started,StructuresDamaged,StructuresDestroyed,WaterTenders
0,257314.0,2013,Tuolumne,55,0.0,0.0,0.0,2013-09-06 18:30:00+00:00,0.0,0.0,0.0,37.857000,3 miles east of Groveland along Hwy 120,-120.086000,Rim Fire,0.0,2013-08-17 15:25:00+00:00,0.0,0.0,0.0
1,30274.0,2013,Los Angeles,19,0.0,0.0,0.0,2013-06-08 18:30:00+00:00,0.0,0.0,0.0,34.585595,Angeles National Forest,-118.423176,Powerhouse Fire,0.0,2013-05-30 15:28:00+00:00,0.0,0.0,0.0
2,27531.0,2013,Riverside,33,0.0,0.0,0.0,2013-07-30 18:00:00+00:00,0.0,0.0,0.0,33.709500,Hwy 243 & Hwy 74 near Mountain Center,-116.728850,Mountain Fire,0.0,2013-07-15 13:43:00+00:00,0.0,0.0,0.0
3,27440.0,2013,Placer,31,0.0,0.0,0.0,2013-08-30 08:00:00+00:00,0.0,0.0,0.0,39.120000,"Deadwood Ridge, northeast of Foresthill",-120.650000,American Fire,0.0,2013-08-10 16:30:00+00:00,0.0,0.0,0.0
4,24251.0,2013,Ventura,56,47.0,8.0,117.0,2013-05-11 06:30:00+00:00,0.0,11.0,10.0,0.000000,Southbound Highway 101 at Camarillo Springs Ro...,0.000000,Springs Fire,2167.0,2013-05-02 07:01:00+00:00,6.0,10.0,11.0

In [381]:
#print row and column number
print(f'Number of Row: {df.shape[0]}\nNUmber of Columns: {df.shape[1]}')

Number of Row: 1633
NUmber of Columns: 20

In [329]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1636 entries, 0 to 1635
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AcresBurned           1633 non-null   float64
 1   Active                1636 non-null   bool
 2   AdminUnit             1636 non-null   object
 3   AirTankers            28 non-null     float64
 4   ArchiveYear           1636 non-null   int64
 5   CalFireIncident       1636 non-null   bool
 6   CanonicalUrl          1636 non-null   object
 7   ConditionStatement    284 non-null    object
 8   ControlStatement      105 non-null    object
 9   Counties              1636 non-null   object
 10  CountyIds             1636 non-null   object
 11  CrewsInvolved         171 non-null    float64
 12  Dozers                123 non-null    float64
 13  Engines               191 non-null    float64
 14  Extinguished          1577 non-null   object
 15  Fatalities            21 non-null     float64
 16  Featured              1636 non-null   bool
 17  Final                 1636 non-null   bool
 18  FuelType              12 non-null     object
 19  Helicopters           84 non-null     float64
 20  Injuries              120 non-null    float64
 21  Latitude              1636 non-null   float64
 22  Location              1636 non-null   object
 23  Longitude             1636 non-null   float64
 24  MajorIncident         1636 non-null   bool
 25  Name                  1636 non-null   object
 26  PercentContained      1633 non-null   float64
 27  PersonnelInvolved     204 non-null    float64
 28  Public                1636 non-null   bool
 29  SearchDescription     1619 non-null   object
 30  SearchKeywords        1433 non-null   object
 31  Started               1636 non-null   object
 32  Status                1636 non-null   object
 33  StructuresDamaged     67 non-null     float64
 34  StructuresDestroyed   175 non-null    float64
 35  StructuresEvacuated   0 non-null      float64
 36  StructuresThreatened  30 non-null     float64
 37  UniqueId              1636 non-null   object
 38  Updated               1636 non-null   object
 39  WaterTenders          146 non-null    float64
dtypes: bool(6), float64(17), int64(1), object(16)
memory usage: 444.3+ KB

In [330]:
df.columns

Index(['AcresBurned', 'Active', 'AdminUnit', 'AirTankers', 'ArchiveYear',
       'CalFireIncident', 'CanonicalUrl', 'ConditionStatement',
       'ControlStatement', 'Counties', 'CountyIds', 'CrewsInvolved', 'Dozers',
       'Engines', 'Extinguished', 'Fatalities', 'Featured', 'Final',
       'FuelType', 'Helicopters', 'Injuries', 'Latitude', 'Location',
       'Longitude', 'MajorIncident', 'Name', 'PercentContained',
       'PersonnelInvolved', 'Public', 'SearchDescription', 'SearchKeywords',
       'Started', 'Status', 'StructuresDamaged', 'StructuresDestroyed',
       'StructuresEvacuated', 'StructuresThreatened', 'UniqueId', 'Updated',
       'WaterTenders'],
      dtype='object')

In [331]:
# These columns are not relevant to our analysis, so we drop them
df = df.drop(columns=['Active','AdminUnit','AirTankers','CalFireIncident', 'CanonicalUrl','ConditionStatement',
                     'ControlStatement','Featured', 'Final','FuelType','MajorIncident','PercentContained',
                     'Public', 'SearchDescription', 'SearchKeywords','Status','StructuresEvacuated', 
                      'StructuresThreatened', 'UniqueId', 'Updated',])

In [332]:
print(f'Number of Row: {df.shape[0]}\nNUmber of Columns: {df.shape[1]}')

Number of Row: 1636
NUmber of Columns: 20

In [333]:
df.isnull().sum()

AcresBurned               3
ArchiveYear               0
Counties                  0
CountyIds                 0
CrewsInvolved          1465
Dozers                 1513
Engines                1445
Extinguished             59
Fatalities             1615
Helicopters            1552
Injuries               1516
Latitude                  0
Location                  0
Longitude                 0
Name                      0
PersonnelInvolved      1432
Started                   0
StructuresDamaged      1569
StructuresDestroyed    1461
WaterTenders           1490
dtype: int64

In [334]:
df[df['AcresBurned'].isnull()]

,AcresBurned,ArchiveYear,Counties,CountyIds,CrewsInvolved,Dozers,Engines,Extinguished,Fatalities,Helicopters,Injuries,Latitude,Location,Longitude,Name,PersonnelInvolved,Started,StructuresDamaged,StructuresDestroyed,WaterTenders
1633,NaN,2019,Yolo,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.734634,"County Road 102 and County Road 17, North of W...",-121.729691,Cashe Fire,NaN,2019-11-25T12:02:02Z,NaN,NaN,NaN
1634,NaN,2019,San Diego,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.351145,"Near Basilone Road and Las Pulgas Road, near C...",-117.403719,Oak Fire,NaN,2019-10-22T19:20:44Z,NaN,NaN,NaN
1635,NaN,2019,Riverside,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.451480,Johnson Street and Ave 82,-116.058980,Johnson Fire,NaN,2019-10-14T15:32:20Z,NaN,NaN,NaN

In [335]:
df = df.dropna(subset=['AcresBurned'])

In [336]:
col_to_fill =['CrewsInvolved', 'Dozers', 'Engines', 'Fatalities', 'Helicopters', 'Injuries',
               'PersonnelInvolved','StructuresDamaged','StructuresDestroyed','WaterTenders' ]

df[col_to_fill] = df[col_to_fill].fillna(0)

In [337]:
df.isnull().sum()

AcresBurned             0
ArchiveYear             0
Counties                0
CountyIds               0
CrewsInvolved           0
Dozers                  0
Engines                 0
Extinguished           56
Fatalities              0
Helicopters             0
Injuries                0
Latitude                0
Location                0
Longitude               0
Name                    0
PersonnelInvolved       0
Started                 0
StructuresDamaged       0
StructuresDestroyed     0
WaterTenders            0
dtype: int64

In [338]:
df.head()

,AcresBurned,ArchiveYear,Counties,CountyIds,CrewsInvolved,Dozers,Engines,Extinguished,Fatalities,Helicopters,Injuries,Latitude,Location,Longitude,Name,PersonnelInvolved,Started,StructuresDamaged,StructuresDestroyed,WaterTenders
0,257314.0,2013,Tuolumne,55,0.0,0.0,0.0,2013-09-06T18:30:00Z,0.0,0.0,0.0,37.857000,3 miles east of Groveland along Hwy 120,-120.086000,Rim Fire,0.0,2013-08-17T15:25:00Z,0.0,0.0,0.0
1,30274.0,2013,Los Angeles,19,0.0,0.0,0.0,2013-06-08T18:30:00Z,0.0,0.0,0.0,34.585595,Angeles National Forest,-118.423176,Powerhouse Fire,0.0,2013-05-30T15:28:00Z,0.0,0.0,0.0
2,27531.0,2013,Riverside,33,0.0,0.0,0.0,2013-07-30T18:00:00Z,0.0,0.0,0.0,33.709500,Hwy 243 & Hwy 74 near Mountain Center,-116.728850,Mountain Fire,0.0,2013-07-15T13:43:00Z,0.0,0.0,0.0
3,27440.0,2013,Placer,31,0.0,0.0,0.0,2013-08-30T08:00:00Z,0.0,0.0,0.0,39.120000,"Deadwood Ridge, northeast of Foresthill",-120.650000,American Fire,0.0,2013-08-10T16:30:00Z,0.0,0.0,0.0
4,24251.0,2013,Ventura,56,47.0,8.0,117.0,2013-05-11T06:30:00Z,0.0,11.0,10.0,0.000000,Southbound Highway 101 at Camarillo Springs Ro...,0.000000,Springs Fire,2167.0,2013-05-02T07:01:00Z,6.0,10.0,11.0

In [383]:
#Standardized time format for these cells
df.iloc[1582,16] = pd.to_datetime('2019-10-07T09:58:51.763Z')
df.iloc[1592,16] = pd.to_datetime('2019-07-05T09:46:01.973Z')
df.iloc[1621,16] = pd.to_datetime('2019-10-07T11:03:29.963Z')
df.iloc[1625,16] = pd.to_datetime('2019-10-09T09:52:52.477Z')

In [385]:
#Converted data type to datetime
df['Extinguished']= pd.to_datetime(df['Extinguished'])
df['Started']= pd.to_datetime(df['Started'])

In [373]:
time_diff = df['Extinguished'] - df['Started']

In [375]:
time_diff.median()

Timedelta('20 days 03:13:00')